<section class="grid footer">

	<div class="copyright">
		<h3>GymBasis</h3>
		<p>&copy; 2017 GymBasis Inc.</p>
	</div>
	
	<div class="info">
		<div class="contact">
			<h3>Contact</h3>
			<p class="footer-item">885 N San Antonio Rd. <br> Los Altos, CA 94022</p>
			<p class="footer-item">650-935-5535</p>
			<p class="footer-item">sales@gymbasis.com</p>
		</div>

		<div class="support">
			<h3>Support</h3>
			<p class="footer-item">Privacy Policy</p>
			<p class="footer-item">Return Policy</p>
			<p class="footer-item">Pricing Errors</p>
		</div>

		<div class="about-us omega">
			<h3>About Us</h3>
			<p class="footer-item">Who we are</p>
			<p class="footer-item">Contacts</p>
		</div>
	</div>

	<div class="subscribe"></div>

</section>