<section class="header">

  <div class="hero <%= hero ? 'with-image' : '' %>">
    <% if hero %> <div class="background-image"> <% end %>
      <div class="grid header-items"> 
        <% if hero %>
          <div class="inner-text">
            <h2 class="inner-item">New Arrival</h2>
            <p class="inner-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, itaque distinctio hic. Pariatur atque, cumque ex id quis maiores dolores. Saepe quae reiciendis blanditiis neque dolorem fugit vitae a quo?</p>
            <p><a class="btn inner-item" href="">Shop Now</a></p>
          </div> 
        <% end %>
          
        <div class="search">
          Search
        </div>
      
        <div class="logo tac">
          LOGO
        </div>

        <div class="cart tar">
          <%= react_component('CartComponent', count: 0) %>
        </div>

      </div> <!-- grid -->

      <%= render partial: "partials/nav" %>
    <%if hero %></div><% end %>
  </div>

</section>