<h1>Your Cart</h1>

<section class="user-cart">
	<% if @cart and @cart != nil %>
		<div class="grid">
			<ul>
				<% @cart.cart_items.each do |item| %>
					<li>
						<%= link_to item.product.name, item.product %> | <%= item.quantity %> 
					</li>
				<% end %>
			</ul>
			<%= react_component('CheckoutLinkComponent') %>
		</div>
	<% else %>
		Cart empty!
	<% end %>

</section>