.header {

	.search,
	.logo,
	.cart {
		@include susy-breakpoint($bp-large) {
			@include span(4 of 12);
		}
	}

	.cart {
		@include omega;
	}
}

.nav {
	.nav-item {
		@include susy-breakpoint($bp-large) {
			@include span(3 of 12);
		}

		&.omega{ @include omega; }
	}
} //nav

.slider {
	@include span(12 of 12);
}

.featured-collections {
	.collection-item {
		@include gallery(6 of 12);
	}
}

.featured-products {
	.product {
		@include gallery(3 of 12);
	}
}

.product-page {
	.slider {
		img{width: 100%; height: 100%;}
		@include span(6 of 12);
	}

	.copy {
		@include span(6 of 12 omega);

		.dollar, .amount {
			float: left;
		}

		.quantity {
			@include span(2 of 6);

			.qty-box {
				height: 100%;
				width: 100%;
				display: inline-block;
			}
		}

		.add-cart-btn {
			@include span(4 of 6 omega);	
		}
	}

	.description {
		@include span(12 of 12);
	}

	.edit-field {
		@include span(6 of 6);
	}
}

.thumbnails {
	@include span(12 of 12);

	li {
		@include span(3 of 12);
		img{width: 100%;}
	}
}

.footer {
	.copyright {
		@include span(3 of 12);
	}

	.info {
		@include span(5 of 12);
	}

	.subscribe {
		@include span(4 of 12 omega);
	}
	.contact,
	.support,
	.about-us {
		@include span(3 of 9);
		&.omega {@include omega;}
	}
}