.nav {
	.logo {
		// mobile

		// @include susy-breakpoint($bp-medium) {
		// }   

		@include susy-breakpoint($bp-large) {
		    @include span(4 of 12);
		}
	}

	.cart {
		@include susy-breakpoint($bp-large) {
		    @include span(2 of 12 omega);
		}
	}
} //nav

.slider {
	@include span(12 of 12);
}

.product-page {
	.slider {
		img{width: 100%; height: 100%;}
		@include span(6 of 12);
	}

	.copy {
		@include span(6 of 12 omega);

		.dollar, .amount {
			float: left;
		}

		.quantity {
			@include span(2 of 6);

			.qty-box {
				height: 100%;
				width: 100%;
				display: inline-block;
			}
		}

		.add-cart-btn {
			@include span(4 of 6 omega);	
		}
	}

	.description {
		@include span(12 of 12);
	}

	.edit-field {
		@include span(6 of 6);
	}
}