/**
*
* Grid Settings
*
**/

// Defining breakpoints
$bp-small: 520px;
$bp-medium: 768px;
$bp-large: 960px;
$bp-huge: 1200px;


// Susy settings
$susy: (
    gutter-position: after,
    gutters: .2,
    global-box-sizing: border-box,
    debug: (
        // image: show,
        color: rgba(blue, .10)
    )
);

/*------------------------------------*\
    $Grid Setup
\*------------------------------------*/

//mobile first
.grid,
.grid-small {
    @include susy-breakpoint($bp-medium) {
        @include container(8);
    }   

    @include susy-breakpoint($bp-large) {
        @include container(12);
    }
}

.grid {
    @include container(85em);
}

.grid-small {
    @include container(70em);
}