.hero {
	position: relative;
	color: $black;

	&.with-image{
		.nav a, .cart a{color: white;}
		padding-bottom: 55%;
		color: white;
	}

	.background-image {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url("hero.jpg");
		background-repeat: no-repeat;		
		background-size: cover;
		// background-position: 50% 50%;
		z-index: 0;
	}

	.inner-text {
		position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-top: 9%;
    padding-top: calc(.5625 * 180px);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;

    .inner-item {
    	width: 50%;
    	display: inline-block;
    	&.btn {display:inline;}
    }
	}
}