<!-- Shipping -->
<!-- Billing -->
<!-- Card info -->
<h2>Total: $<%= @amount/100 %></h2>

<section class="checkout">
  
  <div id="accordion" role="tablist" aria-multiselectable="true">
    
    <div class="card shipping-address">
      <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseShipping" aria-expanded="false" aria-controls="collapseShipping">
          Shipping Information
        </a>
      </div>

      <div id="collapseShipping" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div id="shipping-info" class="card-block">
          Shipping Form
        </div>
      </div>
    </div>

    <div class="card payment-method">
      <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePayment" aria-expanded="false" aria-controls="collapsePayment">
          Payment Method
        </a>
      </div>
      <div id="collapsePayment" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div id="payment-info" class="card-block">
          Payment + billing
        </div>
      </div>
    </div>

  </div>

</section>

<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_wlRGEfFadhnrjlqhRQ6f7O5q');
</script>