.btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	background-color: $light-gray;
	color: $black;
	border: 1px solid transparent;
	padding: 10px 25px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	&.wide {
		width: 100%;
	}
}

